# Ignorar arquivos binários compilados
*.dcu
*.exe
*.dll
*.bpl
*.ocx

# Ignorar arquivos de configuração da IDE
*.dsk
*.~dsk
*.identcache
*dproj.local
*.stat
.json
__history/

# Ignorar pastas comuns
Win32/
Win64/